<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto text-center">
      <div class="display-4 my-5">このサイトについて</div>
    </div>
  </div>

  <div class="row my-5 justify-content-center">
    <div class="text-center">
      <h3>BD.Fashionは、</h3>
      <h3>お出掛け日の天気と持っている洋服の情報を</h3>
      <h3>サイト上で結びつけることができる便利なサイトです。</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto text-center">
      <h5>Example.1</h5>
      <p>天気が変わりやすい時期のお出掛け前にどんな服を着るかに悩んだり、持っている服を探すことありませんか？</p>
      <p class="text-danger">そんなとき、事前に洋服を登録しておけば、タンスから引っ張り出すことなくチェックすることができます。</p>
    </div>
    <div class="col-md-auto my-3 text-center">
      <h5>Example.2</h5>
      <p>タンスや押し入れに入っている洋服を把握しきれてなく、</p>
      <p>似たような服を何着も買ってしまった経験はありませんか？</p>
      <p class="text-danger">そんなとき、持っている洋服を手軽に外で確認することもできます。</p>
    </div>
  </div>
</div>