<div class="container my-5">
  <div class="row">
    <h4 class="font-weight-bold">
      アウター一覧 (全<%= @outers.count %>件)
    </h4>
  </div>
  <div class="row my-3">
    <% @outers.each do |outer| %>
      <div class="col-3 d-flex flex-column bd-highlight mb-3">
        <%= link_to outer_path(outer.id) do %>
          <div class="p-2 bd-highlight">
            <%= image_tag outer.outerImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="p-2 bd-highlight">
          <%= outer.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
